tr th {
  // background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
  margin-right: 5px;
  text-align: center;
}

h3 {
  margin: 0;
}

.teamsname {
  font-size: 18px;
}

.games {
  &::after {
    content: "";
    width: 100px;
    height: 10px;
    background-color: grey;
  }
}
